[submodule "src/lib/freeOnExit"]
	path = src/lib/freeOnExit
	url = https://github.com/ox223252/freeOnExit.git
[submodule "src/lib/log"]
	path = src/lib/log
	url = https://github.com/ox223252/log.git
[submodule "src/lib/mosquittoInterface"]
	path = src/lib/mosquittoInterface
	url = https://github.com/ox223252/mosquittoInterface.git
[submodule "src/lib/roboclaw"]
	path = src/lib/roboclaw
	url = https://github.com/ox223252/roboclaw.git
[submodule "Configure"]
	path = Configure
	url = http://github.com/ox223252/Configure
